body{
    background-color: #d7e9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
}

h1{
    font-size: 5.5rem;
    font-family: Montserrat; 
    color: rgb(27, 132, 132);
    transition: 2s;
}
button{
    background-color:rgb(27, 132, 132);
    position: absolute;
    top: 2%;
    left:2%;
    

}
button:hover{
    background-color: cadetblue;
    cursor: pointer;
}
h2{
    font-size: 1.2rem;
    font-family: Montserrat; 
    color: rgb(27, 132, 132);
}

p{
    font-family: Montserrat; 
    color: rgb(27, 132, 132);
}

.rules{
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

#memory-game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid rgb(76, 129, 131);
    height: 60vh;
    width: 60vw;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    perspective: 1000px;
}

.card{
    height: calc(33.33% - 10px);
    width: calc(25% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 1s;


}

.card-front, .card-back{
font-size: 100px;
position: absolute;
height: 100%;
width: 100%;
background-color: rgb(76, 129, 131);
border-radius: 5px;
backface-visibility: hidden;
}
.card-front{
    transform: rotateY(180deg);
    transition: 1s;
}
.card-back{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.card:hover{
    cursor: pointer;
}
.card:active{
    transform: scale(.97);
    transition: transform .2s;
}

.flip{
    transform: rotateY(180deg);
    transition: 1s;

}
